body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
	font-size:100%;
	min-width:100%;
	margin:0;
	padding:0;
	background-color:#050520;
	color:white;
	padding-bottom: 100px;  
}

h1 {
	text-align: center;
	color:white;
}

a, a:visited{
     color: aqua;
}

.decouverte {
	margin:0;
	left:50%;
	font-size:21px;
	text-align:center;
	position:relative;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    cursor: pointer;
	width: 400px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: #4CAF50;
	transition-duration: 0.4s;
	color: white;
	margin-top: 100px;

}


.decouverte:hover {
	background-color: #050520; /* Green */
  color: white;
}

.decouverte span {

  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
.decouverte span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.decouverte:hover span {
  padding-right: 25px;
}

.decouverte:hover span:after {
  opacity: 1;
  right: 0;
}



.clair {
	right : 50%;
	font-size:21px;
    cursor: pointer;
	padding: 0px 12px;	
	margin: 0px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: #4CAF50;
	transition-duration: 0.4s;
	color: white;
	text-align:center;

}


.clair:hover {
	background-color: #050520; /* Green */
  color: white;
}

.clair span {

  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
  .clair span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.clair:hover span {
  padding-right: 25px;
}

.clair:hover span:after {
  opacity: 1;
  right: 0;
}


.acc, acc:visited{
     color: aqua;
}


footer {
	position:fixed;
	bottom:0px;	
	background: #1a1a1a;
	width:100%;
	color: white;
	text-align:center;
	font-size:21px;
	}
  